<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzQIIw67cE8M8KnXozEfsbhoxSwcVatP0</string>
	<key>GCM_SENDER_ID</key>
	<string>56066985327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ru.WorkoutApp-pet-</string>
	<key>PROJECT_ID</key>
	<string>workoutapp-2f221</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutapp-2f221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56066985327:ios:0b58dfe2a4736c5c90ec9a</string>
</dict>
</plist>